.App {
  text-align: center;
}

:root{
  
}

body {
  --bs-body-bg: rgba(14, 12, 12, 0.637);
}
a {
  color:white;
  text-decoration:none;
  
}

a:hover {
  color:red;
}

.nav-bar{
  justify-content:space-between;
  
  font-family: 'Times New Roman', Times, serif;
  /* font-size:30px; */

  
  
  
  /* display:flex;

  width: 100%; */
  
}
#sendBtn{
  margin-top:2%;
  font-size:24px;
  border-radius:10px;
  
}

#sendBtn:hover{
  background-color:green;
  cursor: pointer;
  transition: all 0.1s ease-out;
}


.home-container {
  margin-top: 1vh;
  padding-bottom: 2vh;
  text-align:center;
  height:100%;
}
.contact-container{
  margin-top:5%;
  margin-left: 25%;
  padding-top:1%;
  padding-bottom:1%;
  width: 50%;
  height: 10%;

  border-radius: 25px;
  border: 2px solid #f1f6ea;

  background-color:rgba(255, 255, 255, 0.3);
}
.message-container{
  margin-top:5%;
  margin-left: 25%;
  padding-top:1%;
  padding-bottom:1%;
  width: 50%;
  height: 60%;

  resize: both;
  overflow: auto;

  border-radius: 25px;
  border: 2px solid #f1f6ea;

  background-color:rgba(255, 255, 255, 0.3);
}

.form-group {
  font-family: 'Times New Roman', Times, serif;
  font-size:24px;
  padding-top: 2%;
  
  display: flex;
  flex-direction: column;


  background-color:rgba(50, 59, 49, 0.411);
  
}



.cards-container:hover{
  background-color: rgba(150, 10, 10, 0.471);
  
  

}

.about-container {
  color:rgb(205, 20, 20);
  text-align:center;
  align-items: center;
  
}

.about-card {
  color:rgb(210, 208, 216);
  background-color: rgba(255, 0, 0, 0.439);


  border-radius: 25px;
  border: 2px solid #73AD21;

  margin-left: 35%;

  width:30%;

  text-align:center;
  align-items: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.pop-container {
  margin-top:2%;
  margin-left: 25%;
  padding-top:1%;
  padding-bottom:1%;
  width: 50%;
  height: 60%;

  resize: both;
  overflow: auto;

  border-radius: 25px;
  border: 2px solid #f1f6ea;

  background-color:rgba(255, 255, 255, 0.3);
}

.pop-container .close:hover {
  cursor: pointer;
  color:red; 
}

.project-container {
  margin-top:2%;
  margin-left: 2%;
  width: 95%;
  height: 100%;

  border-radius: 25px;
  border: 2px solid #f1f6ea;

  /* justify-content:space-between; */
  

  /* text-align:center; */
  display: flex;
  flex-wrap: wrap;
  

  background-color:rgba(80, 76, 76, 0.585);
}